# =========================
# Java
# =========================
*.class

# =========================
# Build (Maven / Gradle)
# =========================
/out/
/target/
/build/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
